<template>
  <section class="todo-section" :style='this.todos.length>0? "display: block" : "display: none"'>
    <ul class="todo-list">
      <todoItem v-for="td in todos" :key="td.id" :todo="td"/>
    </ul>
  </section>
</template>

<script>
import todoItem from "~/components/todo-item";

export default {
  name: "todo-list",
  components: {todoItem},
  props: {
    todos: Array
  },
}
</script>

<style scoped></style>
