<template>
  <li>
    <div>
      <label :id="todo.id" :data-testid="'todo-label' + todo.id">{{ todo.text }}</label>
    </div>
  </li>
</template>

<script>
export default {
  name: "todoItem",
  props: {
    todo: Object
  },
}
</script>

<style scoped></style>
