<template>
  <todo-page/>
</template>

<script>
import TodoPage from "@/pages/todo-page";

export default {
  name: "indexPage",
  components: {TodoPage},
}
</script>

<style>
@import 'assets/css/todo.css';
</style>
