<template>
  <body>
  <section class="app-section">
    <header>
      <h1>Todo App</h1>
      <input id="input" class="add-todo" placeholder="Thing to-do" v-model="onWrite" @submit="create()"
             autofocus="autofocus"/>
      <button :disabled="onWrite === ''" class="add-button" @click="create" style="margin: 10px">Add</button>
    </header>
    <todo-list :todos="todos"></todo-list>
  </section>
  </body>
</template>

<script>
import todoList from "~/components/todo-list";

export default {
  name: "todo-page",
  components: {todoList},
  data() {
    return {
      onWrite: ""
    }
  },
  computed: {
    todos() {
      return this.$store.getters["getAll"];
    }
  },
  methods: {
    getAll() {
      this.$store.dispatch('getAll');
    },
    create() {
      this.$store.dispatch('create', this.onWrite);
      this.onWrite = ""
    },
  },
  async mounted() {
    await this.getAll();
  }
}
</script>

<style scoped></style>
